<footer
  class="text-center text-lg-start text-white pb-4"
  style="background-color: #151217"
>
  <div class="container p-4 pb-0">
    <!-- Section: liens -->
    <section>
      <div class="row">
        <div class="text-center">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Suivez-nous sur nos réseaux
          </h6>

          <!-- Facebook -->
          <a
            class="btn btn-floating m-1"
            href="https://www.facebook.com/"
            role="button"
            ><i class="fab fa-facebook-f"></i
            ><img
              src="/assets/images/facebook.png"
              alt="Logo de facebook."
              width="32"
          /></a>

          <!-- Twitter -->
          <a
            class="btn btn-floating m-1"
            href="https://twitter.com/"
            role="button"
            ><i class="fab fa-twitter"></i
            ><img
              src="../../../assets/images/X.png"
              alt="Logo de twitter."
              width="32"
          /></a>

          <!-- Linkedin -->
          <a
            class="btn btn-floating m-1"
            href="https://fr.linkedin.com/"
            role="button"
            ><i class="fab fa-linkedin-in"></i
            ><img
              src="../../../assets/images/linkedin.png"
              alt="Logo de linkedin."
              width="32"
          /></a>
          <!-- Github -->
          <a
            class="btn btn-floating m-1"
            href="https://github.com/"
            role="button"
            ><i class="fab fa-github"></i
            ><img
              src="../../../assets/images/github.png"
              alt="Logo de github."
              width="32"
          /></a>
        </div>
      </div>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center bg-warning p-3">
    <a class="text-black" href="#top">&copy; Designed by John Doe</a>
  </div>
</footer>
