nav {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.459);
}

nav ul li a:hover {
  color: #da001e;
}

.logo {
  margin-right: 24px;
  border-bottom: solid 2px #eee;
}

.logo:hover {
  border-bottom: solid 2px #da001e;
}

.navbar a.active {
  color: #da001e;
}
