<main>
  <section id="about">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Qui sommes-nous ?</h1>
        <p>
          Au petit village, notre mission est de préserver et de célébrer
          l'héritage culturel et artistique d'Astérix et Obélix à travers des
          créations qui captivent et inspirent les générations futures. Nous
          sommes fiers de contribuer à perpétuer l'amour pour ces personnages
          intemporels et de les rendre accessibles à tous les fans à travers le
          monde.
        </p>
      </div>
    </div>

    <div class="container">
      <hr />
      <div class="row mb-5">
        <div class="col-md-4">
          <h2>Artisanat local</h2>
          <p>
            Lorem ipsum dolor sit amet. Aut voluptatibus sapiente ea libero
            officiis 33 laborum numquam ab iste odit aut facilis laborum! Et
            consequuntur tempora ea numquam culpa id consequatur eveniet hic
            maxime possimus qui corrupti nostrum. Et aliquid odit 33 officia
            quibusdam non nisi beatae qui fugiat ipsa eum nemo quas.
          </p>
        </div>
        <div class="col-md-4">
          <h2>Eco-responsable</h2>
          <p>
            Lorem ipsum dolor sit amet. Aut voluptatibus sapiente ea libero
            officiis 33 laborum numquam ab iste odit aut facilis laborum! Et
            consequuntur tempora ea numquam culpa id consequatur eveniet hic
            maxime possimus qui corrupti nostrum. Et aliquid odit 33 officia
            quibusdam non nisi beatae qui fugiat ipsa eum nemo quas.
          </p>
        </div>
        <div class="col-md-4">
          <h2>Gage de qualité</h2>
          <p>
            Lorem ipsum dolor sit amet. Aut voluptatibus sapiente ea libero
            officiis 33 laborum numquam ab iste odit aut facilis laborum! Et
            consequuntur tempora ea numquam culpa id consequatur eveniet hic
            maxime possimus qui corrupti nostrum. Et aliquid odit 33 officia
            quibusdam non nisi beatae qui fugiat ipsa eum nemo quas..
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
