<main>
  <section id="home">
    <!-- Jumbotron -->
    <div class="jumbotron text-center">
      <div class="container p-3">
        <h1 class="jumbotron-heading">AU PETIT VILLAGE</h1>
        <p class="lead">
          Bienvenue chez Gallia Figurines, une entreprise dédiée à l'artisanat
          et à la création de figurines inspirées de l'univers iconique de la
          bande dessinée Astérix et Obélix. Plongez dans l'aventure épique de la
          Gaule antique avec notre collection de pièces uniques et détaillées
          qui capturent l'essence même de ces héros légendaires.
        </p>
        <a routerLink="/About" class="btn my-2 text-center bg-warning"
          >À PROPOS
        </a>
      </div>
    </div>
    <!-- Product conaitner -->
    <div class="product-container">
      <div class="container">
        <h1 class="text-center m-5 product-h1">NOS FIGURINES</h1>
        <div class="redLine"></div>
        <!-- Product Cards -->
        <app-product-cards></app-product-cards>
      </div>
    </div>
  </section>
</main>
